@font-face{
    font-family: "SF-Pro-Display";
    src: url("../fonts/SF-Pro-Display-Medium.otf") format("truetype");
    font-style: normal;
    font-weight: 500;
 }
 @font-face{
    font-family: "SF-Pro-Display";
    src: url("../fonts/SF-Pro-Display-Regular.otf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face{
    font-family: "SF-Pro-Display";
    src: url("../fonts/SF-Pro-Display-Semibold.otf") format("truetype");
    font-style: normal;
    font-weight: 600;
}
body{
    font-family: 'SF-Pro-Display';
    font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /*ШАПКА*/
.header{
    background-color: rgb(255, 255, 255);
    height: 66px;
    width: 1200px;
    position: fixed;
    z-index: 100px;
    width: 100%;
    border-bottom: double;
    border-width: 1px;
    margin-left: -10px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    }
.logo{
    margin-left: 0px;
    margin-top: 11.5px;
}
/*меню*/
.nav{
    height: 46px;
    width: 997px;
}
.main_menu{
    width: 999px;
    display: flex;
    list-style: none;
    color: #000000;
    margin-top:20px;
}
.menu_katalog{
    font-family: 'SF-Pro-Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
}
.menu_katalog a{
    opacity: 1;
    transition: all .02s ease-in-out;
    text-decoration: none;
    color: #161616;
}
.menu_katalog a:hover{
    opacity: 0.6;
}
    
.menu_kontakt{
    position: absolute;
    font-family: 'SF-Pro-Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    margin-left: 170px;
}
.menu_kontakt a{
    opacity: 1;
    transition: all .02s ease-in-out;
    text-decoration: none;
    color: #161616;
}
.menu_kontakt a:hover{
    opacity: 0.6;
}
.menu_zarabati{
    position: absolute;
    font-family: 'SF-Pro-Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    margin-left: 370px;
}
.menu_zarabati a{
    opacity: 1;
    transition: all .02s ease-in-out;
    text-decoration: none;
    color: #161616;
}
.menu_zarabati a:hover{
    opacity: 0.6;
}
.language{
    margin-left: 540px;
    display: flex;
    margin-top: 0px;
}
.language_EN{
    font-family: 'SF-Pro-Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #CACACA;
}
.language_EN:hover{
    opacity: 0.6;
    transition: all .02s ease-in-out;
    text-decoration: none;
    color: #161616;
}
.language_DE{
    font-family: 'SF-Pro-Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #CACACA;
    margin-left: 7px;
}
.language_DE:hover{
    opacity: 0.6;
    transition: all .02s ease-in-out;
    text-decoration: none;
    color: #161616;
}
.language_FR{
    font-family: 'SF-Pro-Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #CACACA;
    margin-left: 7px;
}
.language_FR:hover{
    opacity: 0.6;
    transition: all .02s ease-in-out;
    text-decoration: none;
    color: #161616;
}
.language_ES{
    font-family: 'SF-Pro-Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #CACACA;
    margin-left: 7px;
}
.language_ES:hover{
    opacity: 0.6;
    transition: all .02s ease-in-out;
    text-decoration: none;
    color: #161616;
}
.language_RU{
    font-family: 'SF-Pro-Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #CACACA;
    margin-left: 7px;
}
.language_RU:hover{
    opacity: 0.6;
    transition: all .02s ease-in-out;
    text-decoration: none;
    color: #161616;
}
.img_share{
    margin-left: 78px;
    margin-top: -4px;
}
.info_share{
    font-family: 'SF-Pro-Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #000000;
    margin-left: 815px;
    position: absolute;
}
.info_share a{
    opacity: 1;
    transition: all .02s ease-in-out;
    text-decoration: none;
    color: #161616;
}
.info_share a:hover{
    opacity: 0.6;
}
.menu_get{
    display: flex;
    width: 110px;
    height: 56px;
    left: 979px;
    top: 0px;
}
.img_get{
    margin-left: 127px;
    margin-top: -4px;
}
.info_get{
    font-family: 'SF-Pro-Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant:
    small-caps;
    color: #000000;
    margin-left: 7px;
}
.info_get a{
    opacity: 1;
    transition: all .02s ease-in-out;
    text-decoration: none;
    color: #161616;
}
.info_get a:hover{
    opacity: 0.6;
}
